<a href="https://colab.research.google.com/github/Scheggi/curly-enigma/blob/main/toni_kaggle_tableau_june.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
traindata = pd.read_csv("drive/MyDrive/Toni/Kaggle/Tabular Playgorund June 21/train.csv")

In [7]:
traindata

            id  feature_0  feature_1  ...  feature_73  feature_74   target
0            0          0          0  ...           0           0  Class_6
1            1          0          0  ...           1           0  Class_6
2            2          0          0  ...           0           0  Class_2
3            3          0          0  ...           3           0  Class_8
4            4          1          0  ...           0           0  Class_2
...        ...        ...        ...  ...         ...         ...      ...
199995  199995          0          1  ...           1           0  Class_6
199996  199996          0          2  ...           0           0  Class_6
199997  199997          1          2  ...           0           0  Class_8
199998  199998          0          0  ...           1           0  Class_7
199999  199999          5          4  ...           3           1  Class_8

[200000 rows x 77 columns]

In [13]:
feature_data = traindata.iloc[:, 1:-1]

In [14]:
feature_data

        feature_0  feature_1  feature_2  ...  feature_72  feature_73  feature_74
0               0          0          6  ...           2           0           0
1               0          0          0  ...           0           1           0
2               0          0          0  ...           0           0           0
3               0          0          7  ...           4           3           0
4               1          0          0  ...           0           0           0
...           ...        ...        ...  ...         ...         ...         ...
199995          0          1          6  ...           4           1           0
199996          0          2          0  ...           0           0           0
199997          1          2          0  ...           1           0           0
199998          0          0          2  ...           0           1           0
199999          5          4          0  ...           2           3           1

[200000 rows x 75 columns]

In [15]:
label_data = traindata.iloc[:, [0, -1]]

In [17]:
label_data

            id   target
0            0  Class_6
1            1  Class_6
2            2  Class_2
3            3  Class_8
4            4  Class_2
...        ...      ...
199995  199995  Class_6
199996  199996  Class_6
199997  199997  Class_8
199998  199998  Class_7
199999  199999  Class_8

[200000 rows x 2 columns]

In [19]:
import tensorflow as tf
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.metrics import accuracy_score

In [21]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(150, input_shape=(75,)))
model.add(tf.keras.layers.Dense(512, activation="relu"))
model.add(tf.keras.layers.Dense(1024, activation="relu"))
model.add(tf.keras.layers.Dense(512, activation="relu"))
model.add(tf.keras.layers.Dense(9, activation="softmax"))

In [22]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 150)               11400
_________________________________________________________________
dense_1 (Dense)              (None, 512)               77312
_________________________________________________________________
dense_2 (Dense)              (None, 1024)              525312
_________________________________________________________________
dense_3 (Dense)              (None, 512)               524800
_________________________________________________________________
dense_4 (Dense)              (None, 9)                 4617
=================================================================
Total params: 1,143,441
Trainable params: 1,143,441
Non-trainable params: 0
_________________________________________________________________

In [23]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [25]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(label_data["target"].values.reshape(-1, 1))
y_train_encoded=enc.transform(label_data["target"].values.reshape(-1, 1)).toarray()

In [26]:
history=model.fit(feature_data.values, y_train_encoded, epochs=50, batch_size=100)

Epoch 1/50
2000/2000 [==============================] - 55s 27ms/step - loss: 1.8164 - accuracy: 0.3402
Epoch 2/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7808 - accuracy: 0.3491
Epoch 3/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7758 - accuracy: 0.3523
Epoch 4/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7720 - accuracy: 0.3529
Epoch 5/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7692 - accuracy: 0.3541
Epoch 6/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7666 - accuracy: 0.3562
Epoch 7/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7643 - accuracy: 0.3571
Epoch 8/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7623 - accuracy: 0.3574
Epoch 9/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7603 - accuracy: 0.3583
Epoch 10/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7575 - accuracy: 0.3592
Epoch 11/50
2000/2000 [==============================] - 53s 27ms/step - loss: 1.7547 - accuracy: 0.3597
Epoch 12/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7517 - accuracy: 0.3611
Epoch 13/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7480 - accuracy: 0.3636
Epoch 14/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7438 - accuracy: 0.3654
Epoch 15/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7389 - accuracy: 0.3666
Epoch 16/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7332 - accuracy: 0.3692
Epoch 17/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7266 - accuracy: 0.3716
Epoch 18/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7183 - accuracy: 0.3745
Epoch 19/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.7091 - accuracy: 0.3785
Epoch 20/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.6987 - accuracy: 0.3826
Epoch 21/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.6868 - accuracy: 0.3870
Epoch 22/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.6741 - accuracy: 0.3920
Epoch 23/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.6591 - accuracy: 0.3968
Epoch 24/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.6444 - accuracy: 0.4036
Epoch 25/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.6307 - accuracy: 0.4070
Epoch 26/50
2000/2000 [==============================] - 55s 27ms/step - loss: 1.6168 - accuracy: 0.4133
Epoch 27/50
2000/2000 [==============================] - 55s 27ms/step - loss: 1.6015 - accuracy: 0.4187
Epoch 28/50
2000/2000 [==============================] - 55s 27ms/step - loss: 1.5874 - accuracy: 0.4236
Epoch 29/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.5715 - accuracy: 0.4297
Epoch 30/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.5562 - accuracy: 0.4360
Epoch 31/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.5437 - accuracy: 0.4403
Epoch 32/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.5279 - accuracy: 0.4453
Epoch 33/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.5184 - accuracy: 0.4493
Epoch 34/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.5055 - accuracy: 0.4537
Epoch 35/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4970 - accuracy: 0.4576
Epoch 36/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4845 - accuracy: 0.4621
Epoch 37/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4728 - accuracy: 0.4663
Epoch 38/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4629 - accuracy: 0.4700
Epoch 39/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4512 - accuracy: 0.4737
Epoch 40/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4457 - accuracy: 0.4755
Epoch 41/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4339 - accuracy: 0.4803
Epoch 42/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4250 - accuracy: 0.4834
Epoch 43/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4206 - accuracy: 0.4846
Epoch 44/50
2000/2000 [==============================] - 53s 26ms/step - loss: 1.4066 - accuracy: 0.4897
Epoch 45/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.4011 - accuracy: 0.4921
Epoch 46/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.3934 - accuracy: 0.4958
Epoch 47/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.3879 - accuracy: 0.4975
Epoch 48/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.3779 - accuracy: 0.5015
Epoch 49/50
2000/2000 [==============================] - 54s 27ms/step - loss: 1.3726 - accuracy: 0.5038
Epoch 50/50
2000/2000 [==============================] - 55s 27ms/step - loss: 1.3697 - accuracy: 0.5042

In [27]:
testdata = pd.read_csv("drive/MyDrive/Toni/Kaggle/Tabular Playgorund June 21/test.csv")

In [28]:
testdata

           id  feature_0  feature_1  ...  feature_72  feature_73  feature_74
0      200000          0          0  ...           0           0           0
1      200001          1          2  ...           3           0           0
2      200002          0          1  ...           2           0           0
3      200003          0          0  ...           4           0           0
4      200004          0          0  ...           0           1           0
...       ...        ...        ...  ...         ...         ...         ...
99995  299995          0          0  ...           0           0           0
99996  299996          0          0  ...           0           0           0
99997  299997          0          0  ...           0           0           2
99998  299998          0          0  ...           1           0           0
99999  299999          0          0  ...           0           0           0

[100000 rows x 76 columns]

In [29]:
predictions = model.predict(testdata.iloc[:, 1:].values)

In [30]:
predictions.shape

(100000, 9)

In [32]:
submission = pd.DataFrame(data=predictions, columns=["Class_1", "Class_2", "Class_3", "Class_4", "Class_5", "Class_6", "Class_7", "Class_8", "Class_9"])

In [34]:
submission["id"]=testdata["id"]

In [37]:
submission

        Class_1   Class_2   Class_3  ...   Class_8   Class_9      id
0      0.031991  0.493844  0.308597  ...  0.010156  0.084667  200000
1      0.033449  0.084784  0.052768  ...  0.280145  0.129783  200001
2      0.013866  0.003139  0.002357  ...  0.186341  0.020571  200002
3      0.013228  0.002864  0.014585  ...  0.571524  0.124087  200003
4      0.016869  0.056912  0.042777  ...  0.149967  0.143464  200004
...         ...       ...       ...  ...       ...       ...     ...
99995  0.032733  0.136110  0.053819  ...  0.444184  0.152680  299995
99996  0.122118  0.511379  0.281036  ...  0.000033  0.034996  299996
99997  0.042094  0.854425  0.000027  ...  0.027439  0.000574  299997
99998  0.057780  0.107250  0.076537  ...  0.249042  0.124960  299998
99999  0.040697  0.034117  0.033589  ...  0.246249  0.091750  299999

[100000 rows x 10 columns]

In [38]:
submission.to_csv("submission.csv")